<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Đăng Ký</h1>
<form th:action="@{/register}" method="post" class="login-container">
  <label for="fullName">Họ và tên</label>
  <input type="text" id="fullName" name="fullName" required /><br /><br>

  <label for="username">Tên đăng nhập</label>
  <input type="text" id="userName" name="userName" required /><br /><br>

  <label for="password">Mật khẩu</label>
  <input type="password" id="password" name="password" required /><br /><br>


  <label for="password">Chức vụ</label>
  <input type="text" id="position" name="position" required /><br /><br>

  <label for="username">Email</label>
  <input type="text" id="email" name="email" required /><br /><br>

  <label for="password">Mật khẩu:</label>
  <input type="text" id="phone" name="phone" required /><br /><br>


  <input type="submit" value="Đăng ký" />
</form>
</body>
</html>